.vid-row2{
    max-height: 80vh;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    /* display: flex; */
}

.vid-row{
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

.obj-size{
    /* background-size: cover !important; */
    /* height: max-content; */
    height: 100vh;
    /* width: -webkit-fill-available; */
width: fit-content;
}


.approval-btn{
    background-color: #c49358;
    color: white;
}

.vid-reason{
    font-weight: 500 !important;
}

.sub-reason{
    background-color: #c49358;
    color: white;
    float: right;
}


.rej-btn{
    background-color: #c49358;
    color: white;
}

.vid-status{
    font-size: 1em;
    font-weight: 500;
    color: #169c04;
}

.vid-status2{
    font-size: 1em;
    font-weight: 500;
    color: red;
}
